body{
    background-image: url(./image/Splendor-ios-Highlighted-Cards.jpeg), url(./image/spielfeld.jpeg), url(./image/carcassonne.jpg), url(./image/coming+soon.jpeg);
    background-position: left top, right top, left bottom, right bottom;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 50% 50%;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}
::placeholder{
    background: none;
    color: none;
}
body .show-full-display{
    display: block;
}
.splendor{
    height: 50%;
    width: 50%;
    font-size: 40px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 35px;
}
.seven-wonder{
    height: 50%;
    width: 50%;
    font-size: 40px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 35px;
}
.carcassonne{
    height: 50%;
    width: 50%;
    font-size: 40px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 35px;
    transition: .3s;
}
.click{
    position: absolute;
    height: fit-content;
    width: fit-content;
    bottom: auto;
    right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffcc00;
    font-size: 30px;
    font-weight: 600;
}
.full-display{
    position: absolute;
    height: fit-content;
    width: fit-content;
    bottom: auto;
    right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    cursor: auto;
}
.loginarea{
    display: block;
    text-align: center;
    background: rgba(173, 173, 173, 0.8);
    box-shadow: 0 0 7px rgb(0 0 0 / 80%);
    height: 320px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}
.loginarea .crosscolor{
    position: absolute;
    right: -8px;
    top: -8px;
}
.loginarea .crosscolor .imageflex{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 100%;
    cursor: pointer;
    background: #afafaf;
    width: 25px;
    height: 25px;
    border-radius: 50px;
}
.loginarea .crosscolor .imageflex i{
    font-size: 15px;
}
.loginarea .crosscolor .imageflex:hover{
    background: #161616;
}
.loginarea .userplay{
    margin-bottom: 10px;
    font-weight: 700;
    color: #161616;
}
.loginarea .contentbelow{
    margin-bottom: 3px;
}
.loginarea .contentbelow .input{
    display: flex;
    margin-bottom: 6px;
    justify-content: space-between;
}
.loginarea .contentbelow .input input{
    width: 150px;
    margin-left: 2px;
    background: none;
    border: none;
    border-bottom: solid #000000 1px;
    outline: none;
}
.loginarea .contentbelow .input input:hover{
    outline: auto;
}
.loginarea .contentbelow .input-password{
    display: flex;
    justify-content: space-between;
}
.loginarea .contentbelow .input-password input{
    width: 150px;
    margin-left: 2px;
    background: none;
    border: none;
    border-bottom: solid #000000 1px;
    outline: none;
}
.loginarea .contentbelow .input-password input:hover{
    outline: auto;
}
.loginarea .contentbelow .show-wrong-message{
    font-size: 13px;
    height: 13px;
    color: #ff0000;
}
.loginarea .contentbelow .loginbutton input{
    background: none;
    border: none;
    cursor: pointer;
    color: #161616;
    font-weight: 700;
    outline: none;
}
.loginarea .contentbelow .loginbutton input:hover{
    color: #ffffff;
}
.loginarea .display-middle{
    display: flex;
    justify-content: center;
}
.loginarea .display-middle .third-party-login{
    display: block;
}
.loginarea .display-middle .third-party-login .icon{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.loginarea .display-middle .third-party-login .icon span{
    margin-left: 5px;
    color: #161616;
    font-weight: 600;
}
.loginarea .display-middle .third-party-login .icon .socials-ignited{
    color: #ffffff;
    background: #afafaf;
    font-size: 15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.loginarea .display-middle .third-party-login .icon .socials-ignited:hover{
    color: #ffffff;
    background: #161616;
    text-decoration: none;
}
.loginarea .display-middle .third-party-login .icon-twitter{
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}
.loginarea .display-middle .third-party-login .icon-twitter span{
    margin-left: 5px;
    color: #161616;
    font-weight: 600;
}
.loginarea .display-middle .third-party-login .icon-twitter .socials-ignited{
    color: #ffffff;
    background: #afafaf;
    font-size: 15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.loginarea .display-middle .third-party-login .icon-twitter .socials-ignited:hover{
    color: #ffffff;
    background: #161616;
    text-decoration: none;
}
.loginarea .guestplay{
    display: flex;
    justify-content: space-around;
}
.loginarea .guestplay .signup{
    font-weight: 700;
    color: #161616;
    cursor: pointer;
}
.loginarea .guestplay .signup:hover{
    color: #ffffff;
    text-decoration: none;
}
.loginarea .guestplay a{
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 700;
    color: #161616;
    cursor: pointer;
}
.loginarea .guestplay a:hover{
    color: #ffffff;
    text-decoration: none;
}
.loginarea .forget-password{
    font-size: 12px;
    color: #3f3f3f;
    cursor: pointer;
    margin-top: 5px;
    font-weight: 600;
}
.loginarea .forget-password:hover{
    color: #ffffff;
    text-decoration: none;
}
.second-full-display{
    position: absolute;
    height: fit-content;
    width: fit-content;
    bottom: auto;
    right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    cursor: auto;
}
body .show-second-full-display{
    display: block;
}
.signup-container{
    display: block;
    text-align: center;
    background: rgba(173, 173, 173, 0.8);
    box-shadow: 0 0 7px rgb(0 0 0 / 80%);
    padding-top: 17px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    position: relative;
    height: 385px;
    width: 600px;
}
.signup-container .crosscolor{
    position: absolute;
    right: -8px;
    top: -8px;
}
.signup-container .crosscolor .second-imageflex{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 100%;
    cursor: pointer;
    background: #afafaf;
    width: 25px;
    height: 25px;
    border-radius: 50px;
}
.signup-container .crosscolor .second-imageflex i{
    font-size: 15px;
}
.signup-container .crosscolor .second-imageflex:hover{
    background: #161616;
}
.signup-container .header{
    color: #161616;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.signup-container #signup-form{
    margin-bottom: 0;
}
.signup-container #signup-form .same-line{
    display: flex;
    margin-bottom: 0;
    flex-wrap: wrap;
    justify-content: space-between;
}
.signup-container #signup-form .same-line .information{
    display: block;
    margin-right: 10px;
}
.signup-container #signup-form .same-line .information .signup-data-username{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.signup-container #signup-form .same-line .information .signup-data-username input{
    margin-left: 3px;
    background: none;
    outline: none;
    border-radius: 3px;
    border: solid #000000 1px;
    color: #161616;
    padding: 0px 0px 1px 2px;
    width: 189px;
}
.signup-container #signup-form .same-line .information .show-used{
    font-size: 13px;
    height: 20px;
    color:#ff0000;
    display:flex;
    justify-content:flex-end;
}
.signup-container #signup-form .same-line .information .signup-data{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 17px;
}
.signup-container #signup-form .same-line .information .signup-data input{
    margin-bottom: 4px;
    margin-left: 3px;
    background: none;
    outline: none;
    border-radius: 3px;
    border: solid #000000 1px;
    color: #161616;
    padding: 0px 0px 1px 2px;
    width: 189px;
}
.signup-container #signup-form .same-line .information .signup-data-retype{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.signup-container #signup-form .same-line .information .signup-data-retype input{
    margin-left: 12px;
    background: none;
    outline: none;
    border-radius: 3px;
    border: solid #000000 1px;
    color: #161616;
    padding: 0px 0px 1px 2px;
    width: 189px;
}
.signup-container #signup-form .same-line .information .show-unmatch-password{
    font-size: 13px;
    height: 20px;
    color: #ff0000;
    font-weight: 400;
}
.signup-container #signup-form .same-line .information .show-used-email{
    font-size: 13px;
    height: 20px;
    color:#ff0000;
    font-weight: 400;
}
.signup-container #signup-form .same-line .information .signup-data-game{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.signup-container #signup-form .same-line .information .signup-data-game input{
    margin-left: 3px;
    background: none;
    outline: none;
    border-radius: 3px;
    border: solid #000000 1px;
    color: #161616;
    padding: 0px 0px 1px 2px;
    width: 189px;
}
.signup-container #signup-form .same-line .filechosen .circle{
    width: 130px;
    height: 130px;
    border-radius: 260px;
    border: solid #000000 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.signup-container #signup-form .same-line .filechosen .circle input{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: none;
    color: #161616;
    font-weight: 700;
    outline: none;
    border: none;
    cursor: pointer;
}
.signup-container #signup-form .same-line .filechosen .circle input:hover{
    color: #ffffff;
}
.signup-container #signup-form .confirmbutton input{
    background: none;
    border: none;
    cursor: pointer;
    color: #161616;
    font-weight: 700;
    outline: none;
}
.signup-container #signup-form .same-line .filechosen .circle img{
    width: 130px;
    height: 130px;
    border-radius: 260px;
    object-fit: cover;
}
.signup-container #signup-form .confirmbutton input:hover{
    color: #ffffff;
}
.signup-container .show-unmatch{
    font-size: 13px;
    height: 13px;
    color: #ffcc00;
}
.signup-container .tologinpage{
    font-size: 12px;
    color: #3f3f3f;
    cursor: pointer;
    font-weight: 600;
}
.signup-container .tologinpage:hover{
    color: #ffffff;
}
body .show-third-full-display{
    display: block;
}
.third-full-display{
    position: absolute;
    height: fit-content;
    width: fit-content;
    bottom: auto;
    right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    cursor: auto;
}
.forget-password-area{
    display: block;
    text-align: center;
    background: rgba(173, 173, 173, 0.8);
    box-shadow: 0 0 7px rgb(0 0 0 / 80%);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 25px;
    border-radius: 5px;
    position: relative;
}
.forget-password-area .first-part{
    display: flex;
    align-items: center;
}
.forget-password-area .crosscolor{
    position: absolute;
    right: -8px;
    top: -8px;
}
.forget-password-area .crosscolor .third-imageflex{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 100%;
    cursor: pointer;
    background: #afafaf;
    width: 25px;
    height: 25px;
    border-radius: 50px;
}
.forget-password-area .crosscolor .third-imageflex i{
    font-size: 15px;
}
.forget-password-area .crosscolor .third-imageflex:hover{
    background: #161616;
}
.forget-password-area .first-part div input{
    margin-left: 8px;
}
.forget-password-area .first-part .email-input{
    background: none;
    outline: none;
    border-radius: 3px;
    border: solid #000000 1px;
    color: #161616;
}
.forget-password-area .first-part .send-password-email input{
    background: none;
    border: none;
    cursor: pointer;
    color: #161616;
    font-weight: 700;
    outline: none;
}
.forget-password-area .first-part .send-password-email input:hover{
    color: #ffffff;
}
.forget-password-area .confirm-send{
    font-size: 13px;
    height: 13px;
    color: #ffcc00;
}
.forget-password-area .second-tologinpage{
    font-size: 12px;
    color: #3f3f3f;
    cursor: pointer;
    font-weight: 600;
    margin-top: 5px;
}
.forget-password-area .second-tologinpage:hover{
    color: #ffffff;
}