

body{
    background: no-repeat center center fixed url("./image/ysfgpmpbku1cvpv86gdm3hyhyfdho77zy1vehdznqocdjc0repjpnw1nrh4iehf9-.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.game-button-container{
    position: absolute;
    top:0;
    right:0;
}
.game-button a{
    text-decoration: none;
    color:black;
}
.main-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:100px;
}
#start-game{
  display:none;
}
.initial-button {
  font-size:30px;
  width:200px;
  height: 100%;
  background-color: white;
}
.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.player-name {
    font-size: 30px;
    font-weight: bold;
}
#my-container{
    display: flex;
    position: relative;
    max-width: 2000px;
    min-width: 1100px;
}
#table-container {
    position: relative;
    flex: 6;
    display: flex;
    flex-direction: column;
}
#token-container {
    flex: 1;
    position: relative;
}
#main-container{
	padding:10px;
}
#player-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#token-bank {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.window-block {
    position: absolute;
    opacity: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message-window{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#message-box{
    background-color: #a0a0a0;
    width:350px;
    border-radius: 5%;
    border: solid;
    text-align: center;
    display:none;
    box-shadow: inset 0 0 10px white;
    padding:5px;
}
.message-title{
    font-size:30px;
    font-weight: bold;
}
.meassage{
    width:100%;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.message-button{
    width:40%;
    height:50px;
}
#novel-card-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.novel-card {
    background-color: rgb(198, 226, 133);
    width: 130px;
    height: 130px;
    border: solid 3px black;
    border-radius: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.novel-card:nth-child(5n-1) {
    background-color: rgb(133, 181, 226);
}
.novel-card:nth-child(5n-3) {
    background-color: rgb(133, 226, 187);
}

.novel-card:nth-child(5n-2) {
    background-color: rgb(226, 133, 133);
}
.novel-card-left-bar {
    background-color: rgba(255, 255, 255, 0.5);
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.production-requirement {
    color: white;
    font-size: 20px;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}
.novel-card-score {
    color: white;
    font-size: 20px;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
#game-card-table {
    margin-top: 0px;
}

.level-card {
  width: 100%;
  padding: 30px 0px;
  display: flex;
  align-items: center;
  display: flex;
  /* justify-content: space-around; */
  position: relative;
  transition: all 1s ease;
}
.deck {
    color:white;
  width: 120px;
  height: 150px;
  border: solid 3px black;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: grab;
}
.high-level-deck div {
    background-color: #0d529f;
    width: 95%;
    height: 95%;
    border: solid 3px black;
    border-radius: 5%;
}
.mid-level-deck div {
    background-color: #c79e00;
    width: 95%;
    height: 95%;
    border: solid 3px black;
    border-radius: 5%;
}
.low-level-deck div {
    background-color: #3d6e01;
    width: 95%;
    height: 95%;
    border: solid 3px black;
    border-radius: 5%;
}
.shown-card {
  width: 120px;
  height: 150px;
  position:absolute;
  z-index: -1;
  cursor: grab;
  left: 0px;
  transition: all 1s ease-out;
}
.card-cover:hover {
    box-shadow: 1px 1px grey, 2px 2px grey, 3px 3px grey;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}
.card-cover {
    border-radius: 5%;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-cover img {
    transform: scale(2);
}
.big-card-cover {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-top {
    width: 100%;
    background-color: white;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.score {
    color: white;
    font-size: 30px;
    font-weight: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.production {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 5px;
}
.card-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cost-circle {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: solid 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.bank-token {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    cursor: pointer;
    margin: 5px;
    position: relative;
}
.gold-image {
    width: 50%;
}
.remaining-token-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.remaining-token {
    font-size: 25px;
    color: black;
    font-weight: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}
.virtual-token {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.reduce-virtual-token {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    z-index: 1;
}
.bank-token:hover {
    box-shadow: 1px 1px grey, 2px 2px grey, 3px 3px grey;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}
.inner-circle {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cb9c68;
    border: solid 1px black;
}
.player-information {
    width: 100%;
    flex: 1;
    display: flex;
    position: relative;
}
.your-turn{
    box-shadow: 0 0 10px;
}
.finger-image{
    height:0px;
}
.your-turn-image{
    height:50px;
}
.my-production-container {
    display: flex;
}
.my-production {
    margin-right: 15px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 2px black; */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.my-token-container {
    display: flex;
}

.my-token {
    width: 40px;
    height: 40px;
    margin: 0 7px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
}

.player-container-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hold {
    width: 100px;
    height: 100px;
    border: solid 1px black;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hold-card {
    cursor: pointer;
    height: 150px;
    width: 120px;
}

.over {
    border: dotted 3px #666;
}

.scale {
    background-color: blue;
    transform: scale(0.5, 0.5);
}

.detail {
    text-align: center;
    margin-top: 10px;
    width: 100px;
    height: 100px;
    border: solid 1px black;
    background-color: rgb(199, 197, 197);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    background-color: #ff0a0a;
}

.green {
    background-color: #237644;
}

.blue {
    background-color: #0141b1;
}

.brown {
    background-color: rgb(46, 43, 40);
}

.white {
    background-color: #eaefe3;
}

.gold {
    background-color: #eadd04;
}

.next-turn-button {
    display: none;
}

@media (max-width: 1180px) {
    #my-container {
        flex-direction: column;
        min-width: 0;
    }
    #token-bank{
        flex-direction: row;
    }
}

#informationBox {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: black;
    color: white;
    transition: all 0.5s ease;
    z-index: 1;
}

.informationBox-cover {
    width: 100%;
    height: 100%;
    position: relative;
}

.close-button {
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 30px;
    cursor: pointer;
}

.playerBoughtCard {
    color: black;
    width: 40px;
    height: 60px;
    border: solid 2px black;
    border-radius: 10%;
    z-index: 1;
    cursor: pointer;
    background-color: white;
}

.player-card-container {
    display: flex;
    flex-wrap: wrap;
}

.bought-card {
    width: 100px;
    height: 100%;
    border-radius: 10%;
}

.bought-card-cover {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5%;
    overflow: hidden;
}

.select-card {
    box-shadow: -5px 5px 5px rgb(75, 75, 75);
}

#buy-card-confirm {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: rgba(54, 50, 50, 0.9);
    z-index: 2;
    /* display:flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

#selected-card {
    width: 250px;
    height: 300px;
    border-radius: 5%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#token-selected {
    display: flex;
}

#button-box {
    display: flex;
}

.buy-card-token {
    transform: scale(2);
    margin: 50px 30px;
    cursor: pointer;
}

#buy-card-production-container {
    display: flex;
}

.buy-card-production {
    width: 60px;
    height: 60px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    transform: scale(1.2);
}

.buy-card-button {
    color: white;
    font-size: 50px;
    border-radius: 10%;
    background-color: rgb(88, 88, 88);
    margin: 10px;
    padding: 20px;
    box-shadow: inset 0 0 20px black;
    cursor: pointer;
}

.game-status {
    font-size: 40px;
    font-weight: bold;
    margin-left: 30px;
}

.meetScoreClass {
    color: red;
}

.absolute-full-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.crown-img {
    width: 30%;
}

#result-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#result-table {
    display: none;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8);
    width: 90%;
    padding: 30px;
}

.row-item {
    border: solid 1px black;
    border-radius: 3%;
    box-shadow: 0 0 10px black;
    margin: 5px;
}

.column-item {
    display: flex;
    align-items: center;
}

.result-score {
    text-align: end;
}

.result-rank {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.result-name {
    font-size: 40px;
}

.result-score {
    font-size: 40px;
}

.rank1 .result-rank {
    background: -webkit-linear-gradient(#eee, #F2D861);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    filter: drop-shadow(2px 2px #333);
}

.rank2 .result-rank {
    background: -webkit-linear-gradient(#eee, #D2D2DF);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    filter: drop-shadow(2px 2px #333);
}

.rank3 .result-rank {
    background: -webkit-linear-gradient(#eee, #C6B6A7);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    filter: drop-shadow(2px 2px #333);
}

.rank4 .result-rank {
  /* background: black; */
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  filter: drop-shadow(2px 2px #333);
}
.chatroom-container-diverse{
    margin-top: 20px !important;
}
.main-area-diverse{
    flex: 1;
    margin-top: 26px !important;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 0;
    position: relative;
    background: none !important;
    display: flex;
}
.increase-z{
    z-index: 3 !important;
}
.sound-area-diverse{
    height: 98px !important;
}
.bgm{
    margin-left: 0 !important;
    width: 132px !important;
}
.background-music{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.background-music label{
    margin-bottom: 8px;
}
.instruction-sound .effect-volume-change{
    width: 129px !important;
}
.game-host{
	width: 400px;
}